<app-navbar></app-navbar>
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 img">
        <div><img src="../../assets/images/product-item1.jpg" /></div>

        <select class="shelve form-select">
          <option selected>Want to Read</option>
          <option value="1">Currently Read</option>
          <option value="2">Read</option>
        </select>

        <div class="AVGrate">
          <div class="rate">
            <i class="fa">&#xf005;</i>
            <i class="fa">&#xf005;</i>
            <i class="fa">&#xf005;</i>
            <i class="fa">&#xf005;</i>
            <i class="fa">&#xf005;</i>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 ps-3">
        <div class="bookname">
          <h1>bookname</h1>
        </div>
        <p class="brife">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
          nemo ea? Consequatur rem alias unde corporis commodi, pariatur,
        </p>
        <div class="rating">
          <h3 class="userrate">your rate</h3>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="reviews">
  <div class="container">
    <h1>reviews</h1>
    <div class="row">
      <div class="col-1 userimg">
        <img src="../../assets/images/banner.jpg" />
      </div>
      <div class="col-5 usercomment">
        <form action="">
          <input
            class="form-control"
            type="text"
            name=""
            id=""
            placeholder="enter your review"
          />
          <button class="submit" title="send your comment"><i class="fa-regular fa-paper-plane"></i></button>
        </form>
      </div>
    </div>
    <div class="comments">
      <div class="row">
        <div class="col-1 userimg">
          <img src="../../assets/images/team-1.jpg" />
        </div>
        <div class="col-5 otherReviews">
          <h3 class="pname">jon haper</h3>
          <p>
            Soluta fugit porro alias. Explicabo temporibus ullam velit
            distinctio architecto!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-fotter></app-fotter>
