<div class="body">
  <div id="box">
    <div class="card">
      <div class="card__face card__face--front">
        <div class="input-container">
          <div class="icon-wrapper"><i class="fa fa-user"></i></div>
          <input
            name="data[User][username]"
            required="required"
            placeholder="Username"
            maxlength="255"
            type="text"
            id="UserUsername"
          />
        </div>

        <div class="input-container">
          <div class="icon-wrapper"><i class="fa fa-lock"></i></div>
          <input
            name="data[User][password]"
            required="required"
            placeholder="Password"
            type="password"
            id="UserPassword"
          />
        </div>

        <div class="input-container my-4">
          <input class="b-sign" type="submit" value="Sign in" />
        </div>
      </div>
    </div>
  </div>
</div>
