<button (click)="open(content)" class="btn btn-link float-end">
  <i class="fa-solid fa-circle-plus fa-xl my-3"></i>
</button>

<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categorie of allCategories">
      <td>{{ categorie._id }}</td>
      <td>{{ categorie.name }}</td>
      <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button type="button" class="btn btn-link btn-sm btn-rounded">
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<nav
  aria-label="Page navigation example"
  class="d-flex justify-content-center my-3"
>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Categorie</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click'); categorieForm.reset()"
    ></button>
  </div>
  <div class="modal-body">
    <form
      class="form-group"
      [formGroup]="categorieForm"
      (ngSubmit)="postCategorie(categorieForm)"
    >
      <div id="categorieName">
        <label for="Input1">Categorie Name</label>
        <input
          type="text"
          class="form-control"
          id="Input1"
          placeholder="Categorie Name"
          formControlName="name"
        />
        <p
          *ngIf="categorieForm.get('name')?.errors?.['required']&&
  categorieForm.get('name')?.touched"
          class="alert alert-danger my-3"
        >
          Categorie Name is required
        </p>
      </div>
      <div class="modal-footer">
        <button
          [disabled]="categorieForm.invalid"
          class="btn btn-outline-dark"
          (click)="c()"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</ng-template>
