<div
  #alert
  class="alert"
  *ngIf="message || error"
  [class]="message ? 'alert-success' : error ? 'alert-danger' : ''"
>
  <p *ngIf="error">{{ error }}</p>
  <p *ngIf="message">{{ message }}</p>
</div>

<button (click)="open(content)" class="btn btn-link float-end">
  <i class="fa-solid fa-circle-plus fa-xl my-3"></i>
</button>

<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categorie of categories; let i = index">
      <ng-container *ngIf="!isItemEditing(i); else editingRow">
        <td>{{ categorie._id }}</td>
        <td>{{ categorie.name }}</td>
        <td>
          <button
            type="button"
            class="btn btn-link btn-sm btn-rounded"
            (click)="editItem(i)"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button
            type="button"
            class="btn btn-link btn-sm btn-rounded"
            (click)="getAlertDelete($event, i)"
          >
            <i id="{{ categorie._id }}" class="fa-solid fa-trash-can"></i>
          </button>
        </td>
      </ng-container>

      <ng-template #editingRow>
        <td colspan="6">
          <form #updateForm="ngForm" (ngSubmit)="getAlertUpdate(updateForm, i)">
            <table class="table align-middle bg-white">
              <tr>
                <td name="_id">{{ categorie._id }}</td>
                <td>
                  <div>
                    <input
                      class="form-control w-50 m-auto align-center"
                      type="text"
                      [(ngModel)]="categorie.name"
                      name="name"
                      ngModel
                    />
                  </div>
                </td>
                <td>
                  <div>
                    <button
                      type="submit"
                      class="btn btn-link btn-sm btn-rounded"
                    >
                      <i class="fa-solid fa-square-check"></i>
                    </button>

                    <button
                      type="button"
                      class="btn btn-link btn-sm btn-rounded"
                      (click)="editingIndex = -1"
                    >
                      <i class="fa-solid fa-circle-xmark"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </table>
          </form>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<!-- ////////////////////////////pagination -->
<div class="my-4">
  <ngb-pagination
    class="d-flex justify-content-center"
    [collectionSize]="totalItem"
    [(page)]="curentPage"
    [boundaryLinks]="true"
    [maxSize]="5"
    [rotate]="true"
    [ellipses]="false"
  ></ngb-pagination>
</div>

<!-- ////////////////////////////add -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Categorie</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click'); categorieForm.reset()"
    ></button>
  </div>
  <div class="modal-body">
    <form
      class="form-group"
      [formGroup]="categorieForm"
      (ngSubmit)="postCategorie(categorieForm)"
    >
      <div id="categorieName">
        <label for="Input1">Categorie Name</label>
        <input
          type="text"
          class="form-control"
          id="Input1"
          placeholder="Categorie Name"
          formControlName="name"
        />
        <p
          *ngIf="categorieForm.get('name')?.errors?.['required']&&
  categorieForm.get('name')?.touched"
          class="alert alert-danger my-3"
        >
          Categorie Name is required
        </p>
      </div>
      <div class="modal-footer">
        <button
          [disabled]="categorieForm.invalid"
          class="btn btn-success"
          (click)="c()"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- ////////////////////////////delete -->
<ng-template #deleteC let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Alert !</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>Are you sure delete this Categorie</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c()">
      cansel
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="c(); deleteCategorie()"
    >
      ok
    </button>
  </div>
</ng-template>

<!-- ////////////////////////////update -->
<ng-template #updateC let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Alert !</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>Are you sure update this Categorie</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c()">
      cansel
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="c(); putCategorie(); editingIndex = -1"
    >
      ok
    </button>
  </div>
</ng-template>
