<div class="body">
  <main class="main">
    <section class="home">
      <div class="home__container containerr">
        <div class="home__data">
          <span class="home__subtitle">Error 404</span>
          <h1 class="home__title">Hey Buddy</h1>
          <p class="home__description">
            We can't seem to find the page <br />
            you are looking for.
          </p>
          <a routerLink="/home" class="home__button btn"> Go Home </a>
        </div>

        <div class="home__img">
          <img src="/assets/ghost-img.png" alt="" />
          <div class="home__shadow"></div>
        </div>
      </div>
    </section>
  </main>
</div>
