#popular-books {
  margin-bottom: 100px;
  position: relative;
}

#popular-books::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
}

#popular-books::before {
  background-image: url("/assets/Curve\ Line\ \(2\).svg");
}
#popular-books .book-list {
  margin-bottom: 30px;
}

.line {
  border-top: 1px solid #e0e0e0;
  padding-top: 20px;
}
