<app-navbar></app-navbar>
<section id="popular-books">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header align-center">
          <h2 class="section-title">Categories</h2>
        </div>

        <ul class="tabs">
          <li class="active tab" data-aos="fade-down">All Genre</li>
          <li class="tab" data-aos="fade-down" data-aos-duration="2000">
            Business
          </li>
          <li class="tab" data-aos="fade-down" data-aos-duration="2200">
            Technology
          </li>
          <li class="tab" data-aos="fade-down" data-aos-duration="2400">
            Romantic
          </li>
          <li class="tab" data-aos="fade-down" data-aos-duration="2600">
            Adventure
          </li>
          <li class="tab" data-aos="fade-down" data-aos-duration="2800">
            Fictional
          </li>
        </ul>

        <div class="tab-content" data-aos="fade-right" data-aos-duration="2200">
          <div id="all-genre">
            <div class="row">
              <div class="col-md-3">
                <figure class="product-style">
                  <img
                    src="../../assets/images/tab-item1.jpg"
                    alt="Books"
                    class="product-item"
                  />
                  <button
                    type="button"
                    class="add-to-cart"
                    data-product-tile="add-to-cart"
                  >
                    Read it now
                  </button>
                  <figcaption>
                    <h3>Portrait photography</h3>
                    <p>Adam Silber</p>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-fotter></app-fotter>
