<app-navbar></app-navbar>
<section id="categories" class="bookshelf">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header align-center">
          <div class="title">
            <span>Some quality items</span>
          </div>
          <h2 class="section-title">Categories</h2>
        </div>

        <ul
          class="tabs w-75 d-flex justify-content-center mx-auto flex-md-wrap"
        >
          <li
            [class.active]="selectedIndex === -1"
            data-tab-target="#all-genre"
            class="active tab"
            data-aos="fade-down"
            (click)="selectedIndex = -1"
          >
            <span (click)="getAllBooks(); idCategory = false"> All Genre </span>
          </li>
          <li
            *ngFor="let category of categoerys; let i = index"
            [class.active]="selectedIndex === i"
            data-tab-target="#business"
            class="tab"
            data-aos="fade-down"
            data-aos-duration="2000"
            (click)="selectedIndex = i; idCategory = category._id"
          >
            <span (click)="getCategoryBooks(category._id)">{{
              category.name
            }}</span>
          </li>
        </ul>

        <div class="tab-content" data-aos="fade-right" data-aos-duration="2200">
          <div id="all-genre">
            <div class="row">
              <app-book
                class="col-md-2"
                *ngFor="let book of categoryBooks"
                [data]="book"
              ></app-book>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-4">
      <ngb-pagination
        class="d-flex justify-content-center"
        [collectionSize]="totalItem"
        [(page)]="curentPage"
        [boundaryLinks]="true"
        [maxSize]="5"
        [rotate]="true"
        [ellipses]="false"
        (pageChange)="getPaginatian()"
      ></ngb-pagination>
    </div>
  </div>
</section>
<app-fotter></app-fotter>
