<app-navbar></app-navbar>


<div class="container" >
  <div class="row">

    <div class="col-md-4 pt-5 pb-5 parent" *ngFor="let author of Datashown">
 
      <img src={{author.photo}} />
      <div class="date">was born in : <br>
       <span>{{author.dateOfBirth}}</span> 

     </div>
     
  <div class="name"> <a [routerLink]="['/author/',author._id]" > writer : {{author.firstName}} {{author.lastName}} </a>
  </div>
  </div>
</div>

  <div class="pagination">
  <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#" >1</a></li>
    <li class="page-item"><a class="page-link" href="#" >2</a></li>
    <li class="page-item"><a class="page-link" href="#" >3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

</div>
</div>


<app-fotter></app-fotter>
