<app-navbar></app-navbar>

<div class="section-header align-center">
  <h2 class="section-title">Categories</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 pt-5 pb-5 parent" *ngFor="let author of Datashown">
      <img src="{{ author.photo }}" />

      <div class="name">
        <a
          [routerLink]="['/author/', author._id]"
          *ngIf="author.firstName && author.lastName"
        >
          writer : {{ author.firstName }} {{ author.lastName }}
        </a>
      </div>
    </div>
  </div>

  <div class="my-4">
    <ngb-pagination
      class="d-flex justify-content-center"
      [collectionSize]="totalItem"
      [(page)]="curentPage"
      [boundaryLinks]="true"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      (pageChange)="getPaginatian()"
    >
    </ngb-pagination>
  </div>

  <app-fotter></app-fotter>
</div>
