@import "../../root.css";
/*----- Footer Section
--------------------------------------------------------------*/
footer#footer {
  background: #edebe4;
  padding: 80px 0 60px;
  margin-top: 100px;
  border-bottom: 1px solid #e0e0e0;
}
#footer .footer-item {
  margin-right: 100px;
}
#footer .footer-item img.footer-logo {
  margin-bottom: 40px;
}
#footer .footer-item p {
  width: 80%;
}
#footer .footer-menu {
  margin-right: 40px;
  margin-bottom: 40px;
}
#footer .footer-menu ul {
  list-style: none;
}
#footer .footer-menu ul a {
  color: var(--dark-text-color);
  text-decoration: none;
}
#footer .footer-menu:last-child {
  margin-right: 0;
}
.footer-menu h5 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  #footer .footer-item {
    margin-right: 0;
  }
}

#footer-bottom {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #c5a992;
  background: #2f2f2f;
}
#footer-bottom p {
  margin: 0;
}
