<app-navbar></app-navbar>
<app-carousel [books]="popularBooks | slice : 0 : 5"></app-carousel>

<section id="books-holder" data-aos="fade-up" data-aos-duration="2000">
  <div class="container">
    <div class="row">
      <div class="inner-content">
        <div class="logo-wrap d-flex">
          <a
            ><img src="../../assets/images/client-image2.png" alt="client"
          /></a>
          <a
            ><img src="../../assets/images/client-image3.png" alt="client"
          /></a>
          <a
            ><img src="../../assets/images/client-image1.png" alt="client"
          /></a>
          <a
            ><img src="../../assets/images/client-image4.png" alt="client"
          /></a>
          <a
            ><img src="../../assets/images/client-image5.png" alt="client"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>

<app-popular-book [books]="popularBooks"></app-popular-book>

<section id="best-book" class="leaf-pattern-overlay">
  <div class="corner-pattern-overlay"></div>
  <div class="container" data-aos="zoom-out-up" data-aos-duration="1000">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-6">
            <figure class="book-thumb">
              <img
                src="../../assets/images/single-image.jpg"
                alt="book"
                class="single-image"
              />
            </figure>
          </div>

          <div class="col-md-6">
            <div class="product-entry">
              <h2 class="section-title divider">Best Reading Book</h2>

              <div class="products-content">
                <div class="author-name">
                  By
                  {{
                    popularBooks[0].authorId.firstName +
                      " " +
                      popularBooks[0].authorId.lastName
                  }}
                </div>
                <h3 class="item-title">{{ popularBooks[0].name }}</h3>
                <p>
                  {{ popularBooks[0].description }}
                </p>
                <div class="btn-wrap">
                  <a [routerLink]="['/bookpage', popularBooks[0].id]"
                    >Read it now</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="categories" class="bookshelf">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header align-center">
          <div class="title">
            <span>Some quality items</span>
          </div>
          <h2 class="section-title">Categories</h2>
        </div>

        <ul
          class="tabs w-75 d-flex justify-content-center mx-auto flex-md-wrap"
        >
          <li
            [class.active]="selectedIndex === -1"
            data-tab-target="#all-genre"
            class="active tab"
            data-aos="fade-down"
            (click)="selectedIndex = -1"
          >
            <span (click)="getAllBooks()"> All Genre </span>
          </li>
          <li
            *ngFor="let category of categoerys; let i = index"
            [class.active]="selectedIndex === i"
            data-tab-target="#business"
            class="tab"
            data-aos="fade-down"
            data-aos-duration="2000"
            (click)="selectedIndex = i"
          >
            <span (click)="getCategoryBooks(category._id)">{{
              category.name
            }}</span>
          </li>
        </ul>

        <div class="tab-content" data-aos="fade-right" data-aos-duration="2200">
          <div id="all-genre">
            <div class="row">
              <app-book
                class="col-md-3"
                *ngFor="let book of categoryBooks"
                [data]="book"
              ></app-book>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container line">
    <div class="col-md-12">
      <div class="btn-wrap align-right">
        <a
          [routerLink]="['/categories']"
          routerLinkActive="active"
          class="btn-accent-arrow"
          >View all books <i class="icon icon-ns-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
</section>

<section id="quotation" class="align-center">
  <div
    class="inner-content"
    data-aos="fade-up"
    data-aos-anchor-placement="bottom-bottom"
    data-aos-duration="2500"
  >
    <h2 class="section-title divider">Quote of the day</h2>
    <blockquote data-aos="fade-up">
      <q>“{{ quote.quote }}”</q>
      <div class="author-name">{{ quote.says }}</div>
    </blockquote>
  </div>
</section>

<section id="author-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header align-center">
          <h2 class="section-title">Popular Authors</h2>
        </div>

        <div class="row my-5">
          <div class="col-md-4" *ngFor="let author of authors">
            <article class="column" data-aos="fade-up" data-aos-duration="3000">
              <figure class="parent-image">
                <a
                  [routerLink]="['/author', author._id]"
                  class="image-hvr-effect"
                >
                  <img
                    src="../../assets/images/post-img1.jpg"
                    alt="post"
                    class="post-image"
                  />
                </a>
              </figure>

              <div class="post-item">
                <div class="meta-date">{{ author.dateOfBirth | date }}</div>
                <h3>
                  <a [routerLink]="['/author', author._id]"
                    >{{ author.firstName + " " + author.lastName }}
                  </a>
                </h3>

                <div class="links-element">
                  <div class="categories">inspiration</div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container line">
    <div class="col-md-12">
      <div class="btn-wrap align-right">
        <a
          [routerLink]="['/']"
          routerLinkActive="active"
          class="btn-accent-arrow"
          >View all Authors <i class="icon icon-ns-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
</section>

<app-fotter></app-fotter>
