@import "../../root.css";

/*----- Cient-holder Section
--------------------------------------------------------------*/
#books-holder {
  background: #edebe4;
  padding: 105px 0;
  margin: 40px 0 100px;
}
#books-holder .logo-wrap {
  max-width: 1000px;
  margin: auto;
}

/*----- Featured Books Section
--------------------------------------------------------------*/
#author-section,
#categories {
  margin-bottom: 100px;
  position: relative;
}
#author-section::before,
#categories::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
}

/*----- Best book Section Section
--------------------------------------------------------------*/
#best-book {
  background: #edebe4;
  padding: 140px 0;
  margin-bottom: 180px;
}

#best-book .book-thumb {
  margin-right: 60px;
  box-shadow: 2px 6px 34px 4px rgba(63, 63, 63, 0.08);
}
#best-book .product-entry {
  margin-top: 80px;
}
#best-book .product-entry h3.item-title {
  font-size: 1.8em;
  font-weight: 100;
  margin-top: 15px;
}
#best-book .product-entry .item-price {
  font-size: 1.5em;
  color: #74642f;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  #best-book .book-thumb {
    margin: 0;
  }
}

/*----- Categories Books Section
--------------------------------------------------------------*/
.tab-content {
  position: relative;
}
[data-tab-content] {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
.active[data-tab-content] {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 55px 0;
  justify-content: center;
  list-style: none;
}
.tabs .tab {
  font-weight: 600;
  color: #999;
  margin-right: 50px;
  cursor: pointer;
}
.tabs .tab.active,
.tabs .tab:hover {
  color: #111;
  border-bottom: 2px solid #9a884c;
}
img.books-image {
  /*height: 290px;*/
  margin-right: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}

/*----- Quotation Section
--------------------------------------------------------------*/
#quotation {
  background: #edebe4;
  padding: 140px 0 !important;
  margin-bottom: 100px;
}
#quotation .section-title.divider,
#quotation .section-title.divider:after {
  margin: 0 auto;
}
#quotation blockquote {
  width: 40%;
  margin: 0 auto;
}
#quotation q {
  display: block;
  font-size: 1.6em;
  padding: 40px 0;
}
#quotation .author-name {
  font-family: "Prata", Georgia, serif;
  font-size: 1.4em;
}
@media screen and (max-width: 768px) {
  #quotation blockquote {
    width: 80%;
  }
}

/*----- popuar authors
--------------------------------------------------------------*/
#author-section {
  margin-bottom: 60px;
}
#author-section article.column {
  margin-bottom: 60px;
}
#author-section figure {
  margin-bottom: 30px;
}
#author-section .meta-date {
  font-family: "Prata", Georgia, serif;
  color: #74642f;
  padding-bottom: 20px;
}
#author-section h3 {
  font-size: 1.7em;
  font-weight: 500;
  margin-top: 0;
}
#author-section .links-element {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #c8c8c8;
  padding-top: 20px;
}
#author-section .categories {
  text-transform: uppercase;
}
.social-links li {
  padding-right: 20px;
}

@media screen and (max-width: 999px) {
  #author-section h3 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 767px) {
  #author-section .grid {
    flex-wrap: wrap;
  }
  #author-section article.column {
    width: 100%;
  }
}
