<section id="billboard">
  <div class="main-slider">
    <mdb-carousel [controls]="true" [indicators]="true" [dark]="true">
      <mdb-carousel-item [interval]="10000" *ngFor="let book of books">
        <div class="slider-item">
          <div class="banner-content">
            <h2 class="banner-title">{{ book.name }}</h2>
            <p>
              {{ book.description }}
            </p>
            <div class="btn-wrap">
              <a
                [routerLink]="['/bookpage', book._id]"
                class="btn btn-outline-accent"
                >Read it now</a
              >
            </div>
          </div>
          <img [src]="book.cover" alt="banner" class="banner-image" />
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</section>
