<section id="billboard">
  <div class="main-slider">
    <mdb-carousel [controls]="true" [indicators]="true" [dark]="true">
      <mdb-carousel-item [interval]="10000">
        <div class="slider-item">
          <div class="banner-content">
            <h2 class="banner-title">Life of the Wild</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu
              feugiat amet, libero ipsum enim pharetra hac. Urna commodo, lacus
              ut magna velit eleifend. Amet, quis urna, a eu.
            </p>
            <div class="btn-wrap">
              <a href="#" class="btn btn-outline-accent">Read More</a>
            </div>
          </div>
          <img
            src="../../assets/images/main-banner1.jpg"
            alt="banner"
            class="banner-image"
          />
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item [interval]="10000">
        <div class="slider-item">
          <div class="banner-content">
            <h2 class="banner-title">Life of the Wild</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu
              feugiat amet, libero ipsum enim pharetra hac. Urna commodo, lacus
              ut magna velit eleifend. Amet, quis urna, a eu.
            </p>
            <div class="btn-wrap">
              <a href="#" class="btn btn-outline-accent btn-accent-arrow"
                >Read More</a
              >
            </div>
          </div>
          <img
            src="../../assets/images/main-banner1.jpg"
            alt="banner"
            class="banner-image"
          />
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</section>
