<app-navbar></app-navbar>
<section class="text-center">
  <div class="image p-5 bg-image"></div>

  <div class="bg card shadow-5-strong">
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Log in</h2>
          <div *ngIf="error" class="alert alert-danger">
            <p>{{ error }}</p>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm)">
            <div class="form-outline mb-4">
              <mdb-form-control>
                <input
                  mdbInput
                  type="email"
                  id="form1"
                  class="form-control"
                  formControlName="email"
                />
                <label mdbLabel class="form-label" for="form1">Email</label>
              </mdb-form-control>

              <div
                *ngIf="
                  loginForm.get('email')?.errors != null &&
                  loginForm.get('email')?.touched
                "
                class="alert alert-danger my-2"
              >
                <p *ngIf="loginForm.get('email')?.errors?.['required']">
                  email is required
                </p>
                <p *ngIf="loginForm.get('email')?.errors?.['email']">
                  email is not valid
                </p>
              </div>
            </div>

            <div class="form-outline mb-4">
              <mdb-form-control>
                <input
                  mdbInput
                  type="password"
                  id="form2"
                  class="form-control"
                  formControlName="password"
                />
                <label mdbLabel class="form-label" for="form2">Password</label>
              </mdb-form-control>
              <div
                *ngIf="
                  loginForm.get('password')?.errors != null &&
                  loginForm.get('password')?.touched
                "
                class="alert alert-danger my-2"
              >
                <p>password is required</p>
              </div>
            </div>

            <button
              type="submit"
              class="btn btn-primary btn-block mb-4 d-flex align-center justify-content-center gap-2"
              [disabled]="loginForm.invalid"
            >
              Log in

              <div *ngIf="lodaing">
                <span
                  class="spinner-grow spinner-grow-sm mx-1"
                  role="status"
                  aria-hidden="true"
                ></span>
                <span
                  class="spinner-grow spinner-grow-sm mx-1"
                  role="status"
                  aria-hidden="true"
                ></span>
                <span
                  class="spinner-grow spinner-grow-sm mx-1"
                  role="status"
                  aria-hidden="true"
                ></span>
              </div>
            </button>

            <div class="text-center">
              <p>Don't have an account?</p>
              <a routerLink="/signup">Register here</a>
            </div>
            <div class="text-center">
              <a routerLink="/adminlogin">Login As Admin</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
