header {
  width: 100%;
  background-color: var(--light-color);
  padding-top: 50px;
  margin: 0;
}

svg {
  margin-bottom: 10px;
}

.img {
  max-width: 22%;
  height: 24em;
  background-color: rgb(253, 248, 239);
  margin-left: 70px;
  box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  max-width: 95%;
  height: 22em;
}

.brief {
  padding-top: 10px;
  padding-left: 70px;
  color: rgb(109, 109, 108);
}

.brief:not(:first-child) {
  font-size: large;
}
.brief div:last-child {
  color: black;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  font-size: 25px;
}

h1 {
  color: rgb(73, 76, 76);
  font-weight: 600;
}

.AuthorsBooks .row {
  border-bottom: 1px solid rgb(232, 228, 228);
  padding: 50px;
}

.AuthorsBooks h1 {
  font-size: 35px;
  margin-left: 70px;
}

.book {
  display: flex;
}

.bookinfo {
  padding: 20px;
}

.book img {
  max-width: 150px;
  max-height: 150px;
  box-shadow: 10 6px 20px 10 rgba(0, 0, 0, 0.2),
    10 6px 20px 10 rgba(0, 0, 0, 0.2);
}
.bookname {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
  color: #6f65ad;
}
.AVGRating div {
  padding-top: 20px;
  font-weight: bold;
  padding-left: 10px;
}

.userRate {
  padding-top: 60px;
}
.bookinfo i,
.userRate i {
  font-size: 20px;
}

.shelve {
  max-width: 150px;
}

select {
  cursor: pointer;
}
