@import "./root.css";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  font-family: var(--body-font) !important;
  font-size: 16px;
  line-height: 2;
  color: var(--body-text-color);
  background-color: var(--light-color);
  color: #000 !important;
}

.alert {
  animation: shake 0.5s ease-in-out;
  animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
  animation-iteration-count: 1.5;
  transition: all 0.7s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
/*
- Stellar Nav - jQuery Menu
*/

.stellarnav,
.stellarnav li {
  position: relative;
  line-height: normal;
}
.stellarnav {
  width: 100%;
  z-index: 10;
}
.stellarnav a {
  color: #777;
}
.stellarnav ul {
  margin: 0;
  padding: 0;
  text-align: right;
}
.stellarnav li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
.stellarnav li a {
  padding: 15px;
  display: block;
  text-decoration: none;
  color: #777;
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.stellarnav > ul > li {
  display: inline-block;
}
.stellarnav > ul > li > a {
  padding: 10px 40px;
}
