<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="shelveNav">
        <li (click)="changeShelf('ALL')">All</li>
        <li (click)="changeShelf('Read')">read</li>
        <li (click)="changeShelf('want to read')">want to read</li>
        <li (click)="changeShelf('Reading')">reading</li>
      </ul>
    </div>

    <div class="col-md-8 col-sm-12 slider">
      <div class="shelve">{{ shelf }}</div>

      <table class="table caption-top">

        <thead >
          <tr>
            <th>img</th>
            <th >name</th>
            <th >Author</th>
            <th >AVG Rate</th>
            <th >Rate</th>
            <th >Shelve</th>
          </tr>
        </thead>
        <tbody >
          <tr class="tablerow"*ngFor="let i of shownData">
             <td >
              <img src="../../assets/images/product-item2.jpg" />
            </td> 
            <td >{{i.bookId.name}}</td>
            <td >{{i.authorName}}</td>
            <td class=" rate">
              <bar-rating [(rate)]="rate" [max]="5">
                <ng-template ratingActive>
                  <i class="bi bi-star-fill" style="margin: 2px; color: #edb867"></i>
                </ng-template>
                <ng-template ratingInactive>
                  <i class="bi bi-star-fill" style="margin: 2px; color: #d2d2d2"></i>
                </ng-template>
              </bar-rating>
            </td>
            <td class=" rate">
              
            </td>
            <td class="">
              <select class="form-select"#shelf (change)="onSelected(i,shelf.value)">
                <option value='want to read' [attr.selected]="i.shelf=='want to read' ? 'true' : null" >Want to Read</option>
                <option value='Reading' [attr.selected]="i.shelf=='Reading' ? 'true' : null">Reading</option>
                <option value='Read' [attr.selected]="i.shelf=='Read' ? 'true' : null">Read</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
