ul{
    list-style: none;
    margin-top: 60px;
    
}

.slider {
    margin-top: 60px;
    padding-left: 50px;
    border-left:1px solid
}

.rate i {
    padding:0;
    margin: 0;
}


ul li {
    padding-bottom:50px;
    text-transform: uppercase;
    transition: font-size 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;
    cursor: pointer;
}

ul li:hover{
  color:#74642f;
  font-weight: 600;  
  font-size:15px ;
    
}

th{
    padding-bottom: 20px;
}

th,td{
    border:0px;
    
}



.tablerow td img{
    max-height: 100px;
    max-width: 50px;
}

.pagination{
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.pagination nav {

margin: auto;

}



.shelve{
    font-size: 25px;
    color: #74642f;
    padding-bottom:40px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

.skip{
    padding-left:45%;
    padding-top:40px;
}

.skip i {
    font-size: 20px;
    color:lightgray;
    padding-left:10px;
    cursor: pointer;
}


.skip i:active{
    color: gray;
}

@media only screen and (max-width: 760px){
 
.shelveNav{
    display: flex;
   
}
.shelveNav li {
    padding-left: 10%;
    width:20%;
    padding-bottom: 0px;
}
.slider{
    border-width:0px
}
}






