@import "../../root.css";

/* -- Top Menu Part
--------------------------------------------------------------*/
#header-wrap {
  position: relative;
}

.top-content {
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}

.social-links a :hover {
  color: var(--dark-text-color);
}

.top-content a {
  color: #555;
  text-decoration: none;
}
.top-content .right-element {
  text-align: right;
  font-weight: 500;
}
.top-content .right-element .for-buy {
  margin-right: 40px;
}

#header {
  padding: 10px 0;
}
.fixed {
  position: fixed;
  width: 100%;
  transition: 0.2s linear;
  top: 5px;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(60px);
  z-index: 5555;
}
.nofixed {
  position: static;
  transition: 0.2s linear;
}
#header .menu-list a {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.12em;
}
.active {
  color: #daa556;
}
ul li a {
  padding: 10px 20px;
}
