<div id="header-wrap">
  <div class="top-content">
    <div class="container">
      <div class="row">
        <div class="col-6 social-links gap-2">
          <!--social-links-->
          <a href="#"> <i class="fa-brands fa-facebook"></i></a>
          <a href="#"> <i class="fa-brands fa-twitter"></i></a>
          <a href="#"> <i class="fa-brands fa-github"></i> </a>
          <a href="#"> <i class="fa-brands fa-linkedin"></i> </a>
          <a href="#"> <i class="fab fa-google"></i> </a>
        </div>
        <div class="col-6 right-element">
          <a
            [routerLink]="['/login']"
            routerLinkActive="active"
            class="user-account"
            ><i class="fa-solid fa-user"></i><span>Account</span></a
          >
        </div>
      </div>
    </div>
  </div>
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="main-logo col-md-2 d-flex align-items-center">
          <a [routerLink]="['']" routerLinkActive="active"
            ><img src="../../assets/images/main-logo.png" alt="logo"
          /></a>
        </div>

        <div class="col-md-10">
          <nav id="navbar  d-flex align-items-center">
            <div class="main-menu stellarnav">
              <ul class="menu-list">
                <li class="menu-item active">
                  <a
                    [routerLink]="['']"
                    routerLinkActive="active"
                    data-effect="Home"
                    >Home</a
                  >
                </li>
                <li class="menu-item">
                  <a href="#featured-books" class="nav-link">Popular Books</a>
                </li>
                <li class="menu-item">
                  <a href="#popular-books" class="nav-link">Categories</a>
                </li>
                <li class="menu-item">
                  <a href="#popular-books" class="nav-link">Authors</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="nav-link">About Us</a>
                </li>
              </ul>

              <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
