<div id="header-wrap">
  <div class="top-content">
    <div class="container">
      <div class="row">
        <div class="col-6 social-links">
          <a href="#"> <i class="fa-brands mx-1 fa-facebook"></i></a>
          <a href="#"> <i class="fa-brands mx-1 fa-twitter"></i></a>
          <a href="#"> <i class="fa-brands mx-1 fa-github"></i> </a>
          <a href="#"> <i class="fa-brands mx-1 fa-linkedin"></i> </a>
          <a href="#"> <i class="fab mx-1 fa-google"></i> </a>
        </div>
        <div class="col-6 right-element">
          <a *ngIf="!isLoged" routerLink="/login" class="user-account mx-2"
            ><i class="fa-solid fa-user"></i
            ><span routerLinkActive="active">Login</span></a
          >
          <a *ngIf="!isLoged" routerLink="/signup" class="user-account mx-2"
            ><span routerLinkActive="active">Register</span></a
          >
          <a routerLink="/profile" class="user-account mx-2" *ngIf="isLoged"
            ><span>Profile</span></a
          >

          <a (click)="logout()" class="user-account mx-2" *ngIf="isLoged"
            ><span>Logout</span></a
          >
        </div>
      </div>
    </div>
  </div>
  <header
    id="header"
    class="fixed"
    (scroll)="onscroll()"
    [ngClass]="navbarfixed ? 'fixed' : 'nofixed'"
  >
    <div class="container">
      <div class="row">
        <div class="main-logo col-md-2 d-flex align-items-center">
          <a href="home#header-wrap"
            ><img src="../../assets/images/main-logo.png" alt="logo"
          /></a>
        </div>

        <div class="col-md-10">
          <nav id="navbar  d-flex align-items-center">
            <div class="main-menu stellarnav">
              <ul class="menu-list">
                <li class="menu-item">
                  <a routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="menu-item">
                  <a href="home#featured-books" class="nav-link"
                    >Popular Books</a
                  >
                </li>
                <li class="menu-item">
                  <a
                    routerLink="/categories"
                    routerLinkActive="active"
                    class="nav-link"
                    >Categories</a
                  >
                </li>
                <li class="menu-item">
                  <a
                    routerLink="/authors"
                    routerLinkActive="active"
                    class="nav-link"
                    >Authors</a
                  >
                </li>
                <li class="menu-item">
                  <a class="nav-link">About Us</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
